<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>Who invented Jet Engine?</string>
		<key>options</key>
		<array>
			<string>ir Frank Whittle</string>
			<string>Roger Bacon</string>
			<string>Gottlieb Daimler</string>
			<string>Lewis E. Waterman</string>
		</array>
		<key>correctAnswer</key>
		<string>Sir Frank Whittle
1.   Sir Frank Whittle
</string>
	</dict>
	<dict>
		<key>questionText</key>
		<string>What now-ubiquitous device was invented by Zenith engineer Eugene Polley in 1955?</string>
		<key>options</key>
		<array>
			<string>Microwave oven</string>
			<string>VCR</string>
			<string>Remote control
Remote control
</string>
			<string>Calculator</string>
		</array>
		<key>correctAnswer</key>
		<string>Remote control
</string>
	</dict>
</array>
</plist>
